{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Projects</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Project</th>
        <th>Idea</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>
            {{ project.name }}
          </td>
          <td class="align-middle">{{ project.idea }}</td>
          <td class="align-middle">{{ project.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}